<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DefaultBoardSetupGroup">
      <section name="TileSetup" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  
  <DefaultBoardSetupGroup>
    <TileSetup>
      <add key="Tile0Index" value="0"/>
      <add key="Tile0ID" value="go"/>    
      <add key="Tile0Name" value="Go"/>
      <add key="Tile0Type" value="Special"/>
      <add key="Tile0Value" value="200"/>
      
      <add key="Tile1Index" value="1"/>
      <add key="Tile1ID" value="freeParking"/>    
      <add key="Tile1Name" value="Free Parking"/>
      <add key="Tile1Type" value="Special"/>
      <add key="Tile1Value" value="0"/>
    
      <add key="Tile2Index" value="2"/>
      <add key="Tile2ID" value="oldStreet"/>  
      <add key="Tile2Name" value="Old Street"/>
      <add key="Tile2Type" value="Street"/>
      <add key="Tile2BuyVal" value="50"/>
      <add key="Tile2RentVal" value="20"/>
      
      <add key="Tile3Index" value="3"/>
      <add key="Tile2ID" value="newStreet"/>  
      <add key="Tile3Name" value="New Street"/>
      <add key="Tile3Type" value="Street"/>
      <add key="Tile3BuyVal" value="75"/>
      <add key="Tile3RentVal" value="40"/>
    
  
      <add key="Tile4Index" value="4"/>
      <add key="Tile4ID" value="theft"/>  
      <add key="Tile4Name" value="Pay Tax - £200"/>
      <add key="Tile4Type" value="Special"/>
      <add key="Tile4Value" value="200"/>
    
      <add key="Tile5Index" value="5"/>
      <add key="Tile5ID" value="electrics"/>  
      <add key="Tile5Name" value="Electrics"/>
      <add key="Tile5Type" value="Utility"/>
      <add key="Tile5BuyVal" value="100"/>
      <add key="Tile5RentVal" value="10"/>
    
      <add key="Tile6Index" value="6"/>
      <add key="Tile6ID" value="fleetStreet"/>  
      <add key="Tile6Name" value="Fleet Street"/>
      <add key="Tile6Type" value="Street"/>
      <add key="Tile6BuyVal" value="250"/>
      <add key="Tile6RentVal" value="100"/>
    
  
       <add key="Tile7Index" value="7"/>
       <add key="Tile7ID" value="dividend"/>  
      <add key="Tile7Name" value="Dividend"/>
      <add key="Tile7Type" value="Special"/>
      <add key="Tile7Value" value="100"/>
    
        <add key="TotalTilesInGroup" value="8"/>
    </TileSetup>
  </DefaultBoardSetupGroup>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
